<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(224, 57, 71);
    color: white;
    font-weight: 600;
    font-size: 24px;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .header {
    font-size: 24px;
    font-weight: 500;
  }

  .email-row {
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
  }

  .email-row:hover {
    background-color: #f0f0f0;
  }

  .row-header {
    font-weight: bold;
    font-size: 20px;
  }

  .row-subheader {
    font-size: 14px;
  }

  .empty-message {
    font-style: italic;
    font-size: 16px;
    text-align: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="padding:5px">Home Search</span>
</div>

<div class="row col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-6 col-md-6 col-lg-6">


    <mat-card style="margin:20px">
      <div class="row col-sm-12 col-md-12 col-lg-12">
        <div class="header">Search</div>
        <div *ngIf="homes.length == 0" class="empty-message">No homes have been loaded</div>
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput type="text" class="form-control" placeholder="123 Fake St." (keyup)="search($event)">
          </mat-form-field>
        <div style="max-height: 300px; overflow:auto">
          <div *ngFor="let home of homes" class="email-row row col-sm-12 col-md-12 col-lg-12"
            (click)="selectHome(home)">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <span class=row-header>{{home.address}}</span>
              <br />
              <span class="row-subheader">{{home.state}}</span>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 row-subheader" style="text-align:right; margin:auto">
              {{home.price || 'Loading...'}}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col-sm-6 col-md-6 col-lg-6">
    <mat-card style=margin:20px>
      <div class="header">Details</div>
      <div *ngIf="!selectedHome" class="empty-message">No home is currently selected</div>
      <div #bodyContainer style="max-height: 80vh; overflow:auto"></div>
    </mat-card>
  </div>
</div>
