<div class="toolbar" role="banner">
  <span style="padding:5px">Home Search Exercise</span>
</div>

<div class="row col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-6 col-md-6 col-lg-6">


    <mat-card style="margin:20px">
      <div class="row col-sm-12 col-md-12 col-lg-12">
        <div class="header">Homes</div>
        <mat-form-field class="col-sm-6 col-md-6 col-lg-6" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="text" class="form-control" placeholder="123 Fake St." (keyup)="search($event)">
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-md-6 col-lg-6" appearance="outline">
          <mat-label>Sort</mat-label>
          <select matNativeControl (change)=sort($event)>
            <option value="priceLowToHigh">Price Low -> High</option>
            <option value="priceHighToLow">Price High -> Low</option>
          </select>
        </mat-form-field>
        <div *ngIf="homes.length == 0" class="empty-message">No results</div>
        <div style="max-height: 300px; overflow:auto">
          <div *ngFor="let home of homes" class="home-row row col-sm-12 col-md-12 col-lg-12"
          (click)="selectHome(home)">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <span class=row-subheader>{{home.address}}</span>
            <br />
            <span class="row-subheader">{{home.city}}, {{home.state}}</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 row-subheader" style="text-align:right; margin:auto">
            ${{numberWithCommas(home.price)}}
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="col-sm-6 col-md-6 col-lg-6">
  <mat-card style=margin:20px>
    <div class="header">Details</div>
    <div *ngIf="!selectedHome" class="empty-message">No home is currently selected</div>
    <div *ngIf="selectedHome">
      <div>Address: {{selectedHome.address}}</div>
      <div>City: {{selectedHome.city}}</div>
      <div>State: {{selectedHome.state}}</div>
      <div>Price: ${{numberWithCommas(selectedHome.price)}}</div>
      <div>Zip: {{selectedHome.zip}}</div>
      <div>Beds: {{selectedHome.beds}}</div>
      <div>Baths: {{selectedHome.baths}}</div>
      <div>Square Feet: ${{numberWithCommas(selectedHome.sqfeet)}}</div>
      <div>Lot Size: {{selectedHome.lotSize}}</div>
      <div>Year Built: {{selectedHome.yearBuilt}}</div>
    </div>
  </mat-card>
</div>
</div>
